# ------------------------------
# Build artifacts
# ------------------------------
bin/
obj/
TestResults/

# ------------------------------
# Playwright
# ------------------------------
playwright-report/
artifacts/
trace.zip
*.zip

# ------------------------------
# VS Code
# ------------------------------
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# ------------------------------
# Rider / Visual Studio
# ------------------------------
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# ------------------------------
# OS files
# ------------------------------
.DS_Store
Thumbs.db

# ------------------------------
# Logs
# ------------------------------
*.log

# ------------------------------
# NuGet
# ------------------------------
*.nupkg
.nuget/
packages/

# ------------------------------
# Environment files
# ------------------------------
.env
.env.*