<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <RunConfiguration>
    <MaxCpuCount>0</MaxCpuCount>
    <ResultsDirectory>TestResults</ResultsDirectory>
  </RunConfiguration>

  <TestRunParameters>
    <Parameter name="ENV" value="ci" />
    <Parameter name="BROWSER" value="chromium" />
    <Parameter name="HEADLESS" value="true" />
    <Parameter name="SLOWMO_MS" value="0" />
    <Parameter name="BASEURL_SAUCE" value="https://www.saucedemo.com/#{}#" />
    <Parameter name="BASEURL_HEROKU" value="https://the-internet.herokuapp.com/#{}#" />
    <Parameter name="TRACE_MODE" value="retain-on-failure" />
    <Parameter name="VIDEO_MODE" value="retain-on-failure" />
    <Parameter name="SCREENSHOT_MODE" value="only-on-failure" />
    <Parameter name="RETRIES" value="2" />
    <Parameter name="TEST_TIMEOUT_MS" value="45000" />
    <Parameter name="PR_REF" value="" />
  </TestRunParameters>
</RunSettings>